#component_list_post_general_style{
    border: solid 1px lightgray;
    border-radius: 5px;
    width: 100%;
    
    margin:2px;
    
}

#done_posts table{
    min-height: 250px;
    max-height: 500px;
    width: 90%;
    float: left;
    
}

#pending_posts table{
    min-height: 250px;
    max-height: 500px;
    
    float: left;
}


#post_types_table_selection button{
    width: 50%;
}



#published_post_options{
    width: 100%;
    padding: 1%;
    
   }
#published_post_options button{
    width: 60%;
    margin: 2px;
    margin-left: 20%;
    margin-right: 20%;
}


p{
    margin: 0px;
}


#posts_reactions{
    
    width: 9%;
    

    float: left;
  
   
}
#posts_reactions div{
    display: inline-block;

}
#posts_reactions div img{
    max-width: 50px;
   float: right;

}

#posts_reactions p{
    float: right;
}



#pending_post_menu{
    width: 100%;
    padding: 1%;
}
#pending_post_menu button{
    width: 60%;
    margin: 2px;
    margin-left: 20%;
    margin-right: 20%;
}



/*para mostrar y ocultar las pestanas*/
.hideDiv{
    display: none;
}