#algo{
  display: none;
}



#component_create_post_general_style{
 
  border: solid 1px lightgray;
  border-radius: 5px;
  width: 100%;
  display: inline-block;
  margin:2px;
 
}
img{
  max-width: 20%;
}


textarea{
  min-width: 300px;
  min-height: 200px;
  max-height: 250px;
}


img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}





#create_post_menu{
    width: 100%;
    padding: 1%;
}
#create_post_menu button{
  width: 60%;
  margin: 2px;
  margin-left: 20%;
  margin-right: 20%;
}

