
<p>intelitur-face works!</p>
<!--COMPONENTE QUE CONTIENE LOS COMPONENTES POSTs CRUD-->

<div id="intelitur-face-nav">
    <ul class="nav justify-content-end">
        <li class="nav-item">
          <a class="nav-link active" (click)='hideAllComp();  showCreatePost() '>Create post</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active"  (click)='hideAllComp();   showListPost() '>Posts</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Administration</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Statistics</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Options</a>
        </li>
      </ul>
</div>




<!--componente para crear posts pendientes o realizados-->
<app-ifcreate-post *ngIf='CreatePisOn'></app-ifcreate-post>



<!--componente que contiene la lista de los post realizados y no realizados-->
<app-iflist-posts *ngIf='ListPostisOn'></app-iflist-posts>


<!--cada vex que realizamos una solicitud de permisos de face listamos las paginas aqui-->
<app-ifselect-pages></app-ifselect-pages>

<!--componente que me permite obtener los posts desde facebook-->
<app-ifcheck-post></app-ifcheck-post>


<button (click)="hacerAlgo()">asasasda</button>